img{
    width: 200px;
    height: 200px;
    border-radius: 50px;

    /*Menengahkan gambar*/
    display: block;
    margin: 0px auto 0px auto;
}

h1{
    color: black;
}

/*selector id*/
.tengah{
    align-self: center;
    color: blue;
}

/*Multy selector*/
h2, h3, h4{
    color: midnightblue;
}

h2.tengah{
    color: pink;
}